<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>

  <title>Iris Classification</title>
</head>

<body>
<form method="post">
  <div class="box">

    <h2>Petal length</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="petal_length">
    <h3><span id="p_len"></span> cm</h3>

    <h2>Petal width</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="petal_width">
    <h3><span id="p_wid"></span> cm</h3>

    <h2>Sepal length</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="sepal_length">
    <h3><span id="s_len"></span> cm</h3>

    <h2>Sepal width</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="sepal_width">
    <h3><span id="s_wid"></span> cm</h3>

    <button class="btn calculate">Calculate</button>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

  </div>
</form>

</body>
</html>