<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>

  <title>Iris Classification</title>
</head>

<body>
<form method="post">
  <div class="box">

    <h2>Petal length</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="petal_length">
    <h3>Value: <span id="p_len"></span> cm</h3>
    <script>
    var slider1 = document.getElementById("petal_length");
    var output1 = document.getElementById("p_len");
    output1.innerHTML = slider1.value;

    slider1.oninput = function() {
      output1.innerHTML = this.value;
    }
    </script>

    <h2>Petal width</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="petal_width">
    <h3>Value: <span id="p_wid"></span> cm</h3>
    <script>
    var slider2 = document.getElementById("petal_width");
    var output2 = document.getElementById("p_wid");
    output2.innerHTML = slider2.value;

    slider2.oninput = function() {
      output2.innerHTML = this.value;
    }
    </script>

    <h2>Sepal length</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="sepal_length">
    <h3>Value: <span id="s_len"></span> cm</h3>
    <script>
    var slider3 = document.getElementById("sepal_length");
    var output3 = document.getElementById("s_len");
    output3.innerHTML = slider3.value;

    slider3.oninput = function() {
      output3.innerHTML = this.value;
    }
    </script>

    <h2>Sepal width</h2>
    <input type="range" min="1" max="100" value="50" class="slider" id="sepal_width">
    <h3>Value: <span id="s_wid"></span> cm</h3>
    <script>
    var slider4 = document.getElementById("sepal_width");
    var output4 = document.getElementById("s_wid");
    output4.innerHTML = slider4.value;

    slider4.oninput = function() {
      output4.innerHTML = this.value;
    }
    </script>

  </div>
</form>

</body>
</html>